<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles/mainStyle.css}">
</head>
<body>
    <div class="header">
        <div class="box">Сайт</div>
        <div class="box">Главная</div>
        <div class="box"><a href="/registerForm">Войти</a></div>
        <div class="box">Выйти</div>
    </div>
    <div class="mainContainer">
        <div class="sideMenu" id="firstSideMenu"></div>
        <div class="sideMenu" id="secondSideMenu">
            <div class="card">
                <img src="https://c.dns-shop.ru/thumb/st1/fit/500/500/e250eee49212d4e4e0446ef021689efd/02fb6db740b61251af139ba2ed2e8ee24384ab69a8c4f80b1e5d54bdd8392b54.png.webp" id="image">
                <div id="info">
                    <h2>Text</h2>
                    <h3>Price</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>