<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles/mainStyle.css}">
</head>
<body>
    <div class="header">
        <div class="headerL">
            <div class="box">Сайт</div>
            <div class="box"><a href="market">Главная</a></div>
        </div>
        <div class="headerR">
            <div class="box" th:if="${isAdmin}"><a href="/adminPanel">Admin Panel</a></div>
            <div class="box" th:if="${isAuth}"><a href="/orders">Корзина</a></div>
            <div class="box" th:if="${isAuth}"><a th:text="${cache} + 'р.'" href="/balance"></a></div>
            <div class="box" th:text="${username}"></div>
            <div class="box" th:if="${!isAuth}"><a href="/login">Войти</a></div>
            <div class="box" th:if="${isAuth}">
                <form method="post" th:action="@{/logout}">
                    <input type="submit" value="Выйти">
                </form>
            </div>
        </div>
    </div>
    <div class="mainContainer">
        <div class="sideMenu" id="firstSideMenu">
            <div>
                <form name="types" method="get" th:action="@{/market}">
                    <input id="hiddenSearch" type="hidden" name="search" th:value="${searchInput}">
                    <input id="hiddenSort" type="hidden" name="sort" th:value="${selectedSort}">
                    <a>Тип продукта</a>
                    <div th:each="type: ${types}">
                        <label>
                            <!-- проверяем передаваемый список и ищем совпадения в списке и устанавливаем checked-->
                            <input type="checkbox" name="type" th:value="${type}"
                                   th:checked="${#lists.contains(selectedTypes, type)}"
                                   onclick="this.form.submit()">
                            <span th:text="${type}"></span>
                        </label>
                    </div>
                    <a>Производитель</a>
                    <div th:each="companyName: ${companyNames}">
                        <label>
                            <!-- проверяем передаваемый список и ищем совпадения в списке и устанавливаем checked-->
                            <input type="checkbox" name="companyName" th:value="${companyName}"
                                   th:checked="${#lists.contains(selectedCompanyNames, companyName)}"
                                   onclick="this.form.submit()">
                            <span th:text="${companyName}"></span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="sideMenu" id="secondSideMenu">
            <div>
                <div id="sortDiv">
                    <select id="sortSelect">
                        <option value="" th:selected="${selectedSort == null}">По умолчанию</option>
                        <option value="byPriceAsc" th:selected="${selectedSort == 'byPriceAsc'}">По возрастанию</option>
                        <option value="byPriceDesc" th:selected="${selectedSort == 'byPriceDesc'}">По убыванию</option>
                    </select>

                    <input id="search" type="text" placeholder="Начните поиск продукта" th:value="${searchInput}">
                    <button onclick="search()">Поиск</button>

                </div>
                <div id="cardContainer">
                    <div class="card" th:each="product: ${products}">
                        <div class="imgContainer">
                            <img th:src="${product.imgSrc}" id="image">
                        </div>
                        <div class="info">
                            <div class="textInfo">
                                <a th:text="${product.name}" th:href="@{/productPage(productId=${product.id})}"></a>
                            </div>
                            <div class="cardBottom">
                                <div>
                                    <a th:text="${product.price}"></a>
                                </div>
                                <div>
                                    <form name="orderProduct" method="post" th:action="@{/order}">
                                        <input type="hidden" name="productId" th:value="${product.Id}">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </div>
                            <div th:if="${isAdmin}">
                                <a th:href="@{'/api/productFeature?id=' + ${product.id}}">product info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pageButtonDiv">
                <button class="pageButton" onclick="quickJumpToPage(-1)"><-</button>
                <button class="pageButton" th:each="pageNumber: ${pageNumbers}" th:value="${pageNumber}" onclick="loadPage(this)" th:text="${pageNumber}"></button>
                <button class="pageButton" onclick="quickJumpToPage(1)">-></button>
            </div>
        </div>
    </div>
    <div id="notification" style="
      display: none;
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(0, 128, 0, 0.6);
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      z-index: 1000;">
        Товар добавлен в корзину!
    </div>
    <script>
        window.onload = function() {
          const urlParams = new URLSearchParams(window.location.search);
          if (urlParams.get('added') === 'true') {
            const notification = document.getElementById('notification');
            notification.style.display = 'block';
            setTimeout(() => {
              notification.style.display = 'none';
            }, 5000);
          }
        }

        document.getElementById('sortSelect').addEventListener('change', function() {
            const selectedValue = this.value;
            const url = new URL(window.location.href);
            if (selectedValue) {
                url.searchParams.set('sort', selectedValue);
            } else {
                url.searchParams.delete('sort');
            }
            window.location.href = url.toString();
        });

        function loadPage(button) {
            const value = button.value;
            if (!value || value === 'undefined') {
                // Не делайте ничего или задайте дефолтное значение
                return;
            }
            const url = new URL(window.location.href);
            url.searchParams.set('page', value);
            window.location.href = url.toString();
        }

        function quickJumpToPage(value) {
            const div = document.querySelector('.pageButtonDiv');
            const lastPageNumber = div.childNodes[div.children.length].textContent;
            const url = new URL(window.location.href);
            const currentPage = url.searchParams.get('page');
            if (!currentPage) {
                currentPage = 1;
            }
            if (currentPage != 1 && currentPage != lastPageNumber) {
                url.searchParams.set('page', +currentPage + +value);
                window.location.href = url.toString();
            } else if (currentPage == 1 && currentPage != lastPageNumber && value == 1) {
                url.searchParams.set('page', +currentPage + +value);
                window.location.href = url.toString();
            } else if (currentPage != 1 && currentPage == lastPageNumber && value == -1) {
                url.searchParams.set('page', +currentPage + +value);
                window.location.href = url.toString();
            }
        }

        function search() {
            const search = document.getElementById('search');
            const hiddenSearch = document.getElementById('hiddenSearch');
            hiddenSearch.value = search.value;
            const form = document.forms['types'];
            form.submit();
        }

        function submitType() {
            const search = document.getElementById('search');
            const hiddenSearch = document.getElementById('hiddenSearch');
        }
    </script>
</body>
</html>