<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/mainStyle.css}">
</head>
<body>
  <div class="header">
    <div class="headerL">
      <div class="box">Сайт</div>
      <div class="box"><a href="market">Главная</a></div>
    </div>
    <div class="headerR">
      <div class="box" th:if="${isAdmin}"><a href="/adminPanel">Admin Panel</a></div>
      <div class="box" th:if="${isAuth}" th:text="${cache} + 'р.'"></div>
      <div class="box" th:text="${username}"></div>
      <div class="box" th:if="${!isAuth}"><a href="/login">Войти</a></div>
      <div class="box" th:if="${isAuth}">
        <form method="post" th:action="@{/logout}">
          <input type="submit" value="Выйти">
        </form>
      </div>
    </div>
  </div>
    <div class="mainContainer">
      <div class="sideMenu" id="secondSideMenu">
        <table border="1">
          <tr>
            <td colspan="2"><a>Наименование</a></td>
            <td><a>Тип товара</a></td>
            <td><a>Производитель</a></td>
            <td><a>Цена</a></td>
          </tr>
          <tr th:each="order: ${orders}">
            <td>
              <img th:src="${order.product.imgSrc}" id="image" alt="${order.product.name}">
            </td>
            <td>
              <a th:text="${order.product.name}"></a>
            </td>
            <td>
              <a th:text="'Тип товара: ' + ${order.product.type}"></a>
            </td>
            <td>
              <a th:text="'Производитель: ' + ${order.product.companyName}"></a>
            </td>
            <td>
              <a th:text="${order.product.price} + 'р.'"></a>
            </td>
            <td>
              <form method="post" th:action="@{/deleteOrder}">
                <input type="hidden" name="orderId" th:value="${order.id}">
                <input type="submit" value="Удалить">
              </form>
            </td>
          </tr>
        </table>
      </div>
      <div class="sideMenu" id="firstSideMenu">
        <div>
          <a th:text="'Итого: ' + ${count} + ' товаров Сумма: ' + ${sum}"></a>
        </div>
      </div>
  </div>
</body>
</html>