<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/mainStyle.css}">
</head>
<body>
  <div class="header">
    <div class="headerL">
      <div class="box">Сайт</div>
      <div class="box"><a class="link" href="market">Главная</a></div>
    </div>
    <div class="headerR">
      <div class="box" th:if="${isAdmin}"><a class="link" href="/adminPanel">Admin Panel</a></div>
      <div class="box" th:if="${isAuth}"><a class="link" th:text="${cache} + 'р.'" href="/balance"></a></div>
      <div class="box" th:text="${username}"></div>
      <div class="box" th:if="${!isAuth}"><a class="link" href="/login">Войти</a></div>
      <div class="box" th:if="${isAuth}">
        <form method="post" th:action="@{/logout}">
          <input type="submit" id="exit" value="Выйти">
        </form>
      </div>
    </div>
  </div>
    <div class="mainContainer">
      <div class="sideMenu" id="secondSideMenu">
        <table border="1">
          <tr>
            <td colspan="2"><a>Наименование</a></td>
            <td><a>Тип товара</a></td>
            <td><a>Производитель</a></td>
            <td><a>Цена</a></td>
          </tr>
          <tr th:each="order: ${orders}">
            <td>
              <img th:src="${order.product.imgSrc}" id="image" alt="${order.product.name}">
            </td>
            <td>
              <a th:text="${order.product.name}"></a>
            </td>
            <td>
              <a th:text="'Тип товара: ' + ${order.product.type}"></a>
            </td>
            <td>
              <a th:text="'Производитель: ' + ${order.product.companyName}"></a>
            </td>
            <td>
              <a th:text="${order.product.price} + 'р.'"></a>
            </td>
            <td>
              <form method="post" th:action="@{/buyOrder}">
                <input type="hidden" name="orderId" th:value="${order.id}">
                <input type="submit" value="Купить">
              </form>
            </td>
            <td>
              <form method="post" th:action="@{/deleteOrder}">
                <input type="hidden" name="orderId" th:value="${order.id}">
                <input type="submit" value="Удалить">
              </form>
            </td>
          </tr>
        </table>
      </div>
      <div class="sideMenu" id="firstSideMenu">
        <div>
          <a th:text="'Итого: ' + ${count} + ' товаров Сумма: ' + ${sum}"></a>
        </div>
      </div>
      <div id="notification" style="
      display: none;
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(0, 128, 0, 0.6);
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      z-index: 1000;">
        Товар куплен!
      </div>
      <div id="errorNotification" style="
      display: none;
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(165, 42, 42, 0.6);
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      z-index: 1000;">
        Недостаточно средств на балансе!
      </div>
  </div>
  <script>
    window.onload = function() {
      const urlParams = new URLSearchParams(window.location.search);
      if (urlParams.get('buyOrder') === 'true') {
        const notification = document.getElementById('notification');
        notification.style.display = 'block';
        setTimeout(() => {
          notification.style.display = 'none';
        }, 2000);
      } else if (urlParams.get('notEnoughCache') === 'true') {
        const notification = document.getElementById('errorNotification');
        notification.style.display = 'block';
        setTimeout(() => {
          notification.style.display = 'none';
        }, 2000)
      }
    }
  </script>
</body>
</html>