<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/mainStyle.css}">
</head>
<body>
    <div class="header">
        <div class="headerL">
            <div class="box">Сайт</div>
            <div class="box"><a th:href="@{/market}">Главная</a></div>
        </div>
        <div class="headerR">
            <div class="box" th:if="${isAdmin}"><a th:href="@{/adminPanel}">Admin Panel</a></div>
            <div class="box" th:if="${isAuth}"><a th:text="${cache} + 'р.'" th:href="@{/balance}"></a></div>
            <div class="box" th:text="${username}"></div>
            <div class="box" th:if="${!isAuth}"><a th:href="@{/login}">Войти</a></div>
            <div class="box" th:if="${isAuth}">
                <form method="post" th:action="@{/logout}">
                    <input type="submit" value="Выйти">
                </form>
            </div>
        </div>
    </div>
    <div class="mainContainer">
        <div class="formFeatureContainer">
            <a th:href="@{/api/productFeatureTemplate}">Настроить шаблоны описания для продуктов</a>
            <form method="get" th:action="@{/api/productFeature}" class="productInfoForm">
                <input type="hidden" name="id" th:value="${product.id}">
                <select name="type" onchange="this.form.submit()">
                    <option>Выберите шаблон</option>
                    <option th:each="type: ${types}" th:value="${type}" th:text="${type}"></option>
                </select>
            </form>
            <form method="post" th:action="@{/api/setProductDefaultInfo}" name="defaultInfoForm" class="productInfoForm">
                <input type="hidden" name="id" th:value="${product.id}">
                <h2>Основные характеристики</h2>
                <div>
                    <input value="Название: " readonly>
                    <input type="text" name="name" th:value="${product.name}" required>
                </div>
                <div>
                    <input value="Ссылка на изобр: " readonly>
                    <input type="text" name="imgSrc" th:value="${product.imgSrc}" required>
                </div>
                <div>
                    <input value="Цена: " readonly>
                    <input type="number" name="price" th:value="${product.price}" required>
                </div>
                <div>
                    <input value="Тип товара: " readonly>
                    <input type="text" name="type" th:value="${product.type}" required>
                </div>
                <div>
                    <input value="Компания: " readonly>
                    <input type="text" name="companyName" th:value="${product.companyName}" required>
                </div>
                <div>
                    <input type="submit" value="Сохранить">
                </div>
            </form>
            <form method="post" th:action="@{/api/setFeature}" name="form" class="productInfoForm">
                <input type="hidden" name="id" th:value="${product.id}">
                <div id="features-container">
                    <h2>Доп. характеристики</h2>
                    <div th:each="feature, iterStat : ${productFeatures}" class="feature-fields">
                        <input type="text" th:name="'features[' + ${iterStat.index} + '].param'" th:value="${feature.param}" placeholder="Key" required autocomplete="off">
                        <input type="text" th:name="'features[' + ${iterStat.index} + '].value'" th:value="${feature.value}" placeholder="Value" required autocomplete="off">
                        <button type="button" onclick="removeFeature(this)">Удалить</button>
                    </div>
                </div>
                <div>
                    <button type="button" onclick="addFeature()">Добавить характеристику</button>
                </div>
                <div>
                    <input type="submit" value="Сохранить">
                </div>
            </form>
        </div>
    </div>
    <script>
        let featureCount;

        window.onload = function() {
            const exitingFeatures = document.querySelectorAll('.feature-fields');
            featureCount = exitingFeatures.length;
        };

        function addFeature() {
            const container = document.getElementById('features-container');
            const index = featureCount;
            const div = document.createElement('div');
            div.className = 'feature-fields';

            div.innerHTML = '<input type="text" name="features[' + index + '].param" placeholder="Key" required autocomplete="off">' +
                            '<input type="text" name="features[' + index + '].value" placeholder="Value" required autocomplete="off">' +
                            '<button type="button" onclick="removeFeature(this)">Удалить</button>';
            container.appendChild(div);
            featureCount++;
        }
        function removeFeature(button) {
            button.parentElement.remove();
            // Пересчитываем оставшиеся элементы
            const remainingFeatures = document.querySelectorAll('.feature-fields');
            featureCount = remainingFeatures.length;

            // Обновляем имена у оставшихся элементов
            remainingFeatures.forEach((div, index) => {
                const inputs = div.querySelectorAll('input');
                inputs[0].setAttribute('name', 'features[' + index + '].param');
                inputs[1].setAttribute('name', 'features[' + index + '].value');
            });
        }
    </script>
</body>
</html>