<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/styles/mainStyle.css}">
</head>
<body>
  <div class="header">
    <div class="headerL">
      <div class="box">Сайт</div>
      <div class="box"><a th:href="@{/market}">Главная</a></div>
    </div>
    <div class="headerR">
      <div class="box" th:if="${isAdmin}"><a class="link" th:href="@{/adminPanel}">Admin Panel</a></div>
      <div class="box" th:if="${isAuth}"><a class="link" th:text="${cache} + 'р.'" th:href="@{/balance}"></a></div>
      <div class="box" th:if="${isAuth}" th:text="${username}"></div>
      <div class="box" th:if="${!isAuth}"><a class="link" th:href="@{/login}">Войти</a></div>
      <div class="box" th:if="${isAuth}">
        <form method="post" th:action="@{/logout}">
          <input type="submit" id="exit" value="Выйти">
        </form>
      </div>
    </div>
  </div>
  <div class="mainContainer">
    <div class="formFeatureContainer">
      <div>
        <form method="get" name="selectForm" th:action="@{/api/productFeatureTemplate}">
          <select name="type" onchange="this.form.submit()">
            <option>Изменить пресет</option>
            <option th:each="type: ${types}" th:value="${type}" th:text="${type}"></option>
          </select>
        </form>
      </div>
      <form method="post" th:action="@{/api/setProductFeatureTemplate}" name="productFeatureTemplateDTO">
        <div>
          <label>Пресет</label>
          <input type="text" name="type" th:value="${typeName}" placeholder="Название шаблона" required
                 pattern="[A-Za-z\s]+" title="Пожалуйста, используйте только английские буквы.">
        </div>
        <div id="params-container">
          <div class="param-fields" th:each="parameter, iterStat : ${params}">
            <input type="text" th:name="'params[' + ${iterStat.index} + ']'" th:value="${parameter}" placeholder="param" required>
            <button type="button" onclick="removeParam(this)">Удалить</button>
          </div>
        </div>
        <div>
          <button type="button" onclick="addParam()">Добавить характеристику</button>
        </div>
        <div>
          <button onclick="reloadPage()">Сбросить</button>
          <input type="submit" value="Сохранить">
        </div>
      </form>
      <div>
        <form method="post" th:action="@{/api/deleteProductFeatureTemplate}" th:if="${typeName}" class="deleteForm">
          <input type="hidden" name="type" th:value="${typeName}">
          <input type="submit" value="Удалить текущий пресет">

        </form>
      </div>
      <div class="error" th:if="${deleteError}">
        Ошибка удаления!
      </div>
    </div>
  </div>
  <script>
    let featureCount;
    window.onload = function () {
      const exitingFeatures = document.querySelectorAll('.param-fields');
      featureCount = exitingFeatures.length;
    };
    function addParam() {
      const container = document.getElementById('params-container');
      const index = featureCount;
      const div = document.createElement('div');
      div.className = 'param-fields';
      div.innerHTML = '<input type="text" name="params[' + index + ']" placeholder="Key" required autocomplete="off">' +
                      '<button type="button" onclick="removeParam(this)">Удалить</button>';
      container.appendChild(div);
      featureCount++;
    }

    function removeParam(button) {
      button.parentElement.remove();
      const remainingParams = document.querySelectorAll('.param-fields');
      featureCount = remainingParams.length;

      remainingParams.forEach((div, index) => {
        const input = div.querySelector('input');
        input.setAttribute('name', 'params[' + index + ']');
      });
    }

    function reloadPage() {
      const url = new URL(window.location.href);
      url.searchParams.set('type', '');
      window.location.href = url.toString();
    }
  </script>
</body>
</html>