<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/styles/mainStyle.css}">
</head>
<body>
  <div class="header">
    <div class="headerL">
      <div class="box">Сайт</div>
      <div class="box"><a class="link" href="market">Главная</a></div>
    </div>
    <div class="headerR">
      <div class="box" th:if="${!isAuth}"><a class="link" href="/login">Войти</a></div>
      <div class="box"  th:if="${isAuth}">
        <form method="post" id="exit" th:action="@{/logout}">
          <input type="submit" value="Выйти">
        </form>
      </div>
    </div>
  </div>
  <div class="mainContainer">
    <div class="formContainer">
      <form class="form" name="user" method="post" th:action="@{/register}">
        <div>
          <input type="text" id="name" name="username" required placeholder="USERNAME">
        </div>
        <div>
          <input type="email" name="email" id="email" required placeholder="EMAIL">
        </div>
        <div>
          <input type="password" id="pass" name="password" required placeholder="PASSWORD">
        </div>
        <div>
          <input type="password" id="confirmPass" name="confirmPassword" required placeholder="REPEAT PASSWORD">
        </div>
        <div>
          <input type="submit" value="Регистрация">
        </div>
        <div>
          <a>Есть аккаунт? </a><a class="link" href="/login">Войти</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>