* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    background: radial-gradient(circle, #F5FFFA, #F0FFFF)
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    color: blue !important;
}

.link:visited {
    color: black;
}



#exit {
    background: none;
    border: none;
    padding: 0;
}

.header {
    background-color: #DCDCDC;
    display: flex;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-image: initial;
    justify-content: space-between;
}

.headerL {
    display: flex;
    flex-direction: row;
}

.headerR {
    display: flex;
    flex-direction: row;
}


.box {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}

.mainContainer {
    display: flex;
    width: 99%;
    min-height: 90vh;
    margin: 5px 5px 5px 0.5%;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
}

.sideMenu {
    background-color: #DCDCDC;
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    margin: 1px;
}

#firstSideMenu {
    width: 20vw;
}

#secondSideMenu {
    flex-direction: column;
    width: 80vw;
    justify-content: space-between;
}

#sortDiv {
    padding-left: 0.75%;
    background: #D3D3D3;
    display: flex;
    gap: 30%;
}

#search {
    height: 30px;
}

#cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18.5%;
    height: 20vw;
    min-width: 200px;
    min-height: 400px;
    margin: 0.75%;
    border: 1px solid gray;
}

.imgContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px !important;
}

#image {
    width: 200px;
}

.info {
    min-height: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: white;
}

.textInfo {
    width: 100%;
    font-size: 18px;
    border: 1px solid green;
    min-height: 100px;
    overflow: hidden;
}

.cardBottom {
    display: flex;
    width: 100%;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
}

.orderButton {
    height: 40px;
    width: 40px;
}


/* only to login/register page */

.formContainer {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    width: 100%;
}

.form {
    margin-top: 50px;
    width: 20vw;
    background: 1px solid yellow;
}

.formContainer div {
    border: 2px solid green;
    width: 100%;
    height: 2em;
}

.formContainer input {
    height: 100%;
    width: 100%;
}

/*Only to productFeatureSetter and productFeatureTemplateSetter*/

.formFeatureContainer {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2px;
}

.formFeatureContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.productInfoForm input {
    height: 2em;
}

.deleteForm {
    margin-top: 10px;
}

/*only to productPage*/

.productCard {
    display: flex;
    align-items: center;
    font-size: 30px;
}
.productCard img {
    width: 400px;
}

#productInfoMenu {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.pageButtonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pageButton {
    padding: 5px;
    font-size: 20px;
}

#imageContainer {
    background-color: white;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
}

.rProductContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.rProductCard {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.rImageContainer {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

.rImageContainer img{
    width: 200px;
    border-width: 1px;
}

.sideDiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 80%;
    min-width: 80%;
}
